html,
body {
  font-size: 16px;
  line-height: 1.8;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .lead {
    font-size: 14px;
  }
  .serviceSection .card {
    height: 400px;
  }
}

.logo {
  width: 16;
  height: 16;
}

.navbarBg {
  background-color: #f5f2f2;
}

.mainBg {
  border-radius: 0 0 0 50%;
}

.navbarBg li {
  color: #3658a7;
  font-size: 14px;
  font-weight: bold;
}

.mainBg,
.sectionBg {
  background-color: #f1f5ff;
}

.navbarBg li,
.navbarBg a {
  color: #3658a7;
}

.mainHeading,
h2 {
  padding-top: 50px;
}

.mainHeading h3 {
  color: #3658a7;
}

.faIcon,
.faIconVision {
  color: #7e5cad;
}

.faIconVision {
  font-size: 75px;
}

.serviceSection .card {
  height: 350px;
}

.serviceSection .iconColor {
  color: #7e5cad;
}

.industriesSection img {
  width: 75%;
}

.CTABgImage {
  background-image: url("Images/footerBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.workflowBg .card {
  border: none;
  background-color: #f1f5ff;
}

.workflowBg svg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}

.accordion-button {
  border-radius: 10px 10px 10px 10px !important;

  margin-bottom: 1rem;
}

.accordion-body {
  border: solid 1px none;
  background-color: #ffffff;
  margin-bottom: 1rem;
}
