body {
  color: #3658a7 !important;
  font-size: 16px;
}

.navbarBg,
.mainBg,
.sectionBgColor {
  background-color: #f1f5ff;
}

.sectionBgColor .card {
  height: 300px;
  color: #3658a7;
}

.sectionBgColor .iconColor {
  color: #7e5cad;
}

.faIcon,
.faIconVision {
  color: #7e5cad;
}

.faIconVision {
  font-size: 75px;
}

.CTABgImage {
  background-image: url("Images/testbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.workflowBg svg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}

.workflowBg .card {
  border: none;
}

.workflowBg svg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}

.mainBg {
  background-color: #f0f8ff;
}

.mainBgImg {
  width: 500px;
}
@media only screen and (max-width: 992px) {
  .mainBgImg {
    width: 100%;
  }
}
