body {
  color: #3658a7 !important;
  font-size: 16px;
}

p {
  text-align: justify;
  text-align-last: left;
  line-height: 1.5;
}

.navbarBg,
.mainBg,
.sectionBg {
  background-color: #f1f5ff;
}

.navbarBg li,
.navbarBg a {
  color: #3658a7;
}

.mainHeading {
  padding-top: 50px;
}

.faIcon,
.faIconVision {
  color: #7e5cad;
}

.faIconVision {
  font-size: 75px;
}

.serviceSection .card {
  height: 300px;
  color: #3658a7;
}

.serviceSection .iconColor {
  color: #7e5cad;
}

.industriesSection img {
  width: 75%;
}

.CTABgImage {
  background-image: url("Images/footerBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.workflowBg .card {
  border: none;
  color: #3658a7;
  background-color: #f1f5ff;
}

.workflowBg svg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}

.accordion-item {
  background-color: #f1f5ff;
}

.accordion-button {
  border-radius: 10px 10px 10px 10px !important;
  background-color: #cfe2ff;
  margin-bottom: 1rem;
}

.accordion-body {
  border: solid 1px none;
  background-color: #ffffff;
  margin-bottom: 1rem;
  color: #00008b;
}
